*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition:  all 0.5s ease-in;
    font-family: 'Roboto', sans-serif;

}
a {
    text-decoration: none !important;
    cursor: pointer;
    color: #505050 !important;
}

button {
    cursor: pointer;
}
li {
    list-style-type: none;
}
html,
body {
    overflow: overlay;
    scroll-behavior: smooth;
    background-color: #F1F1F1;
}
.breadcrumbs__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
.breadcrumbs__link:last-child {
    font-weight: 400;
}
.header__item img {
    padding-bottom: 6px;
}
.header__subnavbar {
    height: 40px;
}
.header__main-navbar {
    height: 64px;
}
.nav__item a {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #505050;
}
.navbar-toggler-icon {
    width: 25px;
    height: 25px;
} 

.nav__item_active {
    background: #F1F1F1;
}